<?xml version="1.0" encoding="UTF-8"?>
<!-- https://github.com/hazelcast/hazelcast/issues/12058 -->
<!-- change the Default log level of Log4j2 -->
<!-- https://logging.apache.org/log4j/log4j-2.1/manual/configuration.html -->

<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>